.slot-score {
    color: yellow;
    margin-bottom: 2rem;
}

.slot {
      float: left;
      width: calc(100% / 3);
      font-size: 4rem;
      color: white;
}

.game {
  background-color: rgb(35, 35, 143);
  margin: 0 auto;
  width: 40rem;
  text-align: center;
  padding: 3rem;
}

#stop {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    background-color: rgb(236, 56, 56);
    margin-top: 3rem;
}

#reset {
    margin-top: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    background-color: rgb(3, 121, 3);
}