body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roul {
    background-color: rgb(35, 35, 143);
    margin: 0 auto;
    width: fit-content;
    text-align: center;
    padding: 3rem;
}

.roul h3 {
    color: white
}

.d-flex {
    margin: auto;
    width: fit-content !important;
    gap: 20px;
}

.container {
    width: fit-content;
    border: 1px solid black;
}

.col-sm-2, .col-sm-12 {
    height: 35px !important;
    border: 1px solid black;
    font-size: medium;
}

.zero {
    background-color: lightgreen;
}

.odd {
    background-color: rgb(44, 44, 44);
    color: white;
}

.even {
    background-color: rgb(236, 53, 53);
}

.zero:hover, .odd:hover, .even:hover {
    filter: brightness(30%);
    transition: filter 0.125s;
}

#dingus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgray;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.pholder {
    height: 7rem;
    width: 7rem;
    background-color: gray;
}

b {
    font-size: 6rem;
}

.bet {
    width: 120px;
    padding: 2px;
}.roul {
    background-color: rgb(35, 35, 143);
    margin: 0 auto;
    width: 50rem;
    text-align: center;
    padding: 3rem;
}

.roul h1, h3 {
    font-weight: 900;
    color: white;
}

.container {
    width: fit-content;
    border: 1px solid black;
}

.col-sm-2, .col-sm-12 {
    height: 25px;
    border: 1px solid black;
    font-size: medium;
}

.zero {
    background-color: lightgreen;
}

.odd {
    background-color: rgb(44, 44, 44);
    color: white;
}

.even {
    background-color: rgb(236, 53, 53);
}

.zero:hover,
.odd:hover,
.even:hover {
    filter: brightness(30%);
    transition: filter 0.125s;
}

#dingus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgray;
    padding: 10px;
    align-items: center;
    gap: 10px;
}

.pholder {
    height: 7rem;
    width: 7rem;
    background-color: gray;
}

b {
    font-size: 6rem;
}

#bet {
    width: 120px;
    padding: 2px;
}